<div class="grid">
  <div class="col-1-2">
    <form action="/clients/save" method="post">
      <input type="hidden" name="client" value="[client:clientNumber]">
      <input type="hidden" name="xsrf" value="[xsrf]">

      <fieldset>
        <legend>General</legend>
        <div><label for="client_name">Name</label> <input required type="text" name="name" id="client_name"
            value="[client:name]" maxlength="100"></div>
        <div>
          <label for="client_telephone">Telephone</label>
          <input required type="tel" name="telephone" id="client_telephone" value="[client:telephone]" maxlength="30"></div>
        <div>
          <label for="client_email">Email</label>
          <input required type="text" name="email" id="client_email" value="[client:email]"/>
        </div>
      </fieldset>
      <fieldset>
        <legend>Postal address</legend>
        <div><label for="client_address">Address</label> <input required type="text" name="address" id="client_address"
            value="[client:address]" maxlength="100"></div>
        <div><label for="client_postalCode">Postal code</label> <input required type="text" name="postalCode"
            id="client_postalCode" value="[client:postalCode]" maxlength="10"></div>
        <div><label for="client_city">City</label> <input required type="text" name="city" id="client_city"
            value="[client:city]" maxlength="200"></div>
      </fieldset>
      <input type="submit" value="Save changes">
    </form>
  </div>
</div>
