<form action="/clients" method="post">
  <input type="hidden" name="xsrf" value="[xsrf]" />

  <fieldset>
    <legend>General</legend>
    <div>
      <label for="client_name">Name</label>
      <input required type="text" name="name" id="client_name" />
    </div>
    <div>
      <label for="client_telephone">Telephone</label>
      <input required type="tel" name="telephone" id="client_telephone" />
    </div>
    <div>
      <label for="client_email">Email</label>
      <input required type="text" name="email" id="client_email" />
    </div>
  </fieldset>
  <fieldset>
    <legend>Postal address</legend>
    <div>
      <label for="client_address">Address</label>
      <input required type="text" name="address" id="client_address" />
    </div>
    <div>
      <label for="client_postalCode">Postal code</label>
      <input required type="text" name="postalCode" id="client_postalCode" />
    </div>
    <div>
      <label for="client_city">City</label>
      <input required type="text" name="city" id="client_city" />
    </div>
  </fieldset>
  <input type="submit" value="Register client" />
</form>
