[header]
<main>
    <div>
        <section id="payment">
            <header>
                <h1>[invoice:title] - [invoice:sequenceNumber]</h1>
            </header>
            <div id="payment-details">
                <h2>Details</h2>
                <p><strong>Klant: </strong>[invoice:client:name]</p>
                <p><strong>Total due: </strong>&euro; [totals:total_price]</p>
                <p><strong>Total paid: </strong>&euro; [totals:total_paid]</p>
                <p><strong>Remaining: </strong>&euro; [totals:remaining]</p>
                <p><strong>Status: </strong>[invoice:status]</p>
            </div>
        </section>
    </div>
    <div>
        <section>
            <h2>Products</h2>
            {{ inline tables/invoice_products.html }}
        </section>
    </div>
    <div>
        <section>
            <header>
                <h2>Payments</h2>
            </header>
            {{ if len([payments]) == 0 }}
            <p>No payments available for this invoice</p>
            {{ else}}
                {{ inline tables/payments.html }}
            {{ endif }}
        </section>
    </div>
    <div>
        <section>
            <header>
                <h2>Create payment</h2>
            </header>
            {{ inline forms/payment.html }}
        </section>
    </div>
    <div>
        <section>
            <header>
                <h2>Create new mollie payment request</h2>
            </header>
            {{ inline forms/mollie_payment_request.html }}
        </section>
    </div>
    <div>
        <section>
            <header>
                <h2>Mollie payments</h2>
            </header>
            {{ if len([mollie_payments]) == 0 }}
                <p>No payments available for this invoice</p>
            {{ else}}
                {{ inline tables/mollie_payments.html }}
            {{ endif}}
        </section>
    </div>
</main>
[footer]
