[header]
<section>
    <h2>Appointments for [slot:date]</h2>
    {{ if len([appointments]) }}
        {{ inline tables/appointments.html }}
    {{ else }}
        <p class="info">No appointments found</p>
    {{ endif }}
</section>

{{ if [slot:slots] > len([appointments]) }}
<section>
    <h2>Create new appointment</h2>
    {{ inline forms/create_appointment.html }}
</section>
{{ endif }}

<section>
    <h2>Pickup slot details</h2>
    <form class="pickupslots" action="/pickupslot/[slot:ID]" method="post">
        <input type="hidden" name="xsrf" value="[xsrf]">
        {{ for field in [pickup_slot_form] }}
            <p>[field:description]</p>
            {{ if [field:errors] }}
                {{ for error in [field:errors] }}
                    <p class="error">[error]</p>
                {{ endfor }}
            {{ endif }}
            <div>
                [field:label]
                [field]
            </div>
        {{ endfor }}
        <input type="submit" value="Update">
    </form>
</section>
[footer]
