/* table */
tbody tr.overdue td {
    color: hsl(0, 43%, 51%);
    background-color: hsl(0, 43%, 92%);
}
tbody tr.overdue:nth-child(odd) td {
    background-color: hsl(0, 43%, 90%);
}

tbody tr.canceled td {
    color: hsl(0, 73%, 18%);
    background-color: hsl(6, 69%, 74%);
}
tbody tr.canceled:nth-child(odd) td {
    background-color: hsl(6, 69%, 76%);
}

#payment {
    padding-bottom: 5px;
}
#payment-details {
}

#payment-details p {
    line-height: 0.6em;
}

input:required {
    border: 1px solid rgb(29, 3, 3);
}
