{{ for error in [errors] }}
<p class="error">[error]</p>
{{ endfor }}

<form class="newinvoice" action="/invoices/new" method="post">
    <input type="hidden" name="xsrf" value="[xsrf]">
    {{ for field in [invoice_form] }}
        {{ if [field:name] != 'product' }}
                <p>[field:description]</p>
            {{ if [field:errors] }}
                {{ for error in [field:errors] }}
                    <p class="error">[error]</p>
                {{ endfor }}
            {{ endif }}
        <div>
            [field:label]
            [field]
        </div>
        {{ endif }}
    {{ endfor }}
    <fieldset>
        <legend>Products / services</legend>
        <table class="products">
            <thead>
                <tr>
                    <th>Product</th>
                    <th class="number">Price</th>
                    <th class="number">VAT</th>
                    <th class="number">Quantity</th>
                    <th class="number">VAT amount</th>
                    <th class="number">Subtotal</th>
                    <th class="number">Stock</th>
                </tr>
            </thead>
            <tbody>
                {{ for product in [invoice_form:product] }}
                <tr class="product">
                    <td>
                        {{ if [product:sku:errors] }}
                            <div>
                                {{ for error in [product:sku:errors] }}
                                    <p class="error">[error]</p>
                                {{ endfor }}
                            </div>
                        {{ endif }}
                        [product:sku]
                    </td>

                    <td class="number">€&nbsp;
                        [product:price]
                    </td>
                    <td class="number">
                        [product:vat_percentage]%
                    </td>
                    <td class="number">
                        {{ if [product:quantity:errors] }}
                        <div>
                            {{ for error in [product:quantity:errors] }}
                            <p class="error">[error]</p>
                            {{ endfor }}
                        </div>
                        {{ endif }}
                        [product:quantity]
                    </td>

                    <td class="number"><output></output></td>
                    <td class="number"><output></output></td>
                    <td class="number"><output></output></td>
                </tr>
                {{ endfor }}
            </tbody>
            <tfoot>
                <tr class="vat">
                    <th colspan="4" class="number">VAT (<output></output>%)</th>
                    <td class="number"><output></output></td>
                </tr>
                <tr class="totalex">
                    <th colspan="4" class="number">Total</th>
                    <td class="number"><output></output></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="totalinc">
                    <th colspan="4" class="number">Total (inc. VAT)</th>
                    <td class="number"><output></output></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </fieldset>
    <input type="submit" value="Create invoice">
</form>
