<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Vat</th>
            <th>Sku</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{ for product in [invoice:products] }}
        <tr>
            <td>[product:name]</td>
            <td>[product:quantity]</td>
            <td>[product:vat_percentage]%</td>
            <td>[product:sku]</td>
            <td>&euro;[product:price]</td>
        </tr>
        {{ endfor }}
    </tbody>
</table>
