<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bestelling</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://css.underdark.nl/stable/base.css" rel="stylesheet" />
    <link href="https://css.underdark.nl/stable/layout.css" rel="stylesheet" />
    <link href="https://css.underdark.nl/stable/module.css" rel="stylesheet" />
    <link href="https://css.underdark.nl/stable/theme.css" rel="stylesheet" />
    <link href="/styles/admin.css" rel="stylesheet" />
    <link href="/styles/theme.css" rel="stylesheet" />
</head>

<body>
    <header></header>
    <main>
        <section>
            <h1>[title]</h1>
            <p>[message]</p>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <div>
                <p>
                    <small>© [year] – Powered by
                        <a href="https://uweb-framework.nl">µWeb 3.0</a></small>
                </p>
            </div>
        </div>
    </footer>
    <script src="https://css.underdark.nl/0.2/scripts/menutoggle.js"></script>
    <script src="https://css.underdark.nl/0.2/scripts/submenus.js"></script>
    <script src="https://css.underdark.nl/0.2/scripts/table.js"></script>
</body>

</html>
